<owo-ui xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/wisp-forest/owo-lib/1.19.4/owo-ui.xsd">
    <components>
        <flow-layout direction="vertical">
            <children>
                <flow-layout direction="vertical" id="settings-panel">
                    <children>
                        <label>
                            <text translate="true">ralle.settings.title</text>
                            <shadow>true</shadow>
                        </label>
                        <text-box id="search-field">
                            <sizing><horizontal method="fixed">410</horizontal></sizing>
                        </text-box>
                        <scroll direction="vertical">
                            <flow-layout direction="vertical" id="settings-entries">
                                <children/>
                                <gap>10</gap>
                                <sizing>
                                    <horizontal method="fixed">410</horizontal>
                                    <vertical method="content"/>
                                </sizing>
                            </flow-layout>
                            <scrollbar-thiccness>4</scrollbar-thiccness>
                            <scroll-step>24</scroll-step>
                            <sizing>
                                <horizontal method="fixed">418</horizontal>
                                <vertical method="fill">100</vertical>
                            </sizing>
                        </scroll>
                        <button id="done-button">
                            <text translate="true">gui.done</text>
                            <sizing><horizontal method="fixed">120</horizontal></sizing>
                        </button>
                    </children>
                    <gap>8</gap>
                    <padding><all>14</all></padding>
                    <surface><panel dark="true"/></surface>
                    <horizontal-alignment>center</horizontal-alignment>
                    <sizing>
                        <horizontal method="fixed">442</horizontal>
                        <vertical method="fill">90</vertical>
                    </sizing>
                </flow-layout>
            </children>
            <surface><vanilla-translucent/></surface>
            <horizontal-alignment>center</horizontal-alignment>
            <vertical-alignment>center</vertical-alignment>
            <sizing>
                <horizontal method="fill">100</horizontal>
                <vertical method="fill">100</vertical>
            </sizing>
        </flow-layout>
    </components>
</owo-ui>
